/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transform: translate(150px, -5px);
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: 5s
}

.transition-demo img:hover {
  filter: none;
  transform: rotate(2880deg)
}


/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;

}

sale-bar